@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');
:root {
  --primary-color: #818CF8;
  
}


*{
  box-sizing: border-box;

}
body{
  font-family: 'Hind Madurai', sans-serif;
  background-color: #F0F9FF;
}

.heading {
color: 
  #94A3B8;
text-align: center;
}

.heading .span{
  color:#FBBF24;
  
  }

.description
{
text-align: center;

}

.input-label{
  display: block;
  text-align: center;
}

.input{
  display: block;
}

.btn{
background: var(#818CF8);

width: 15%; 
border-radius: 0.5rem;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.change-table th,td
{
  border: 1px solid black;
}

.change-table table {
  border: 0px solid black;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}


.list-item-inline{
  display: inline;
}

@media only screen and (max-width: 700px){
section {
  width: 80%;
  margin: auto;
}}

section input {
  width: 30%;
  height: 2rem;
  color: black;
}

section {
  background-color: var(--dark-green);
  width: 50%;
  /* max-width: 90%; */
  margin: auto;
  text-align: center;
}

section button{
  width: 20%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--light-green);
  color: black;
}